body{
    background-image: url(9267.jpg);
    background-size: cover;
}

tr.toshi{
    font-size: large;
}

h1 {
    color:brown;
}

p#ichiran{
    border: solid;
    background-color: honeydew;

}

label#weather{
    border: solid;
    background-color: honeydew;
}

table {
    border:solid;
}