p li{
	color: navy;
}

p.info {
	font-size: small;
	background-color:#dfdfdf;
}

h1 {
	color:white;
	text-shadow:2px 2px 4px navy;
}

h2 {
	border: solid 1px black;
	margin: 5px;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px;
	grid-gap: 10px;
	width: 1024px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}

div#zentai > div > h2{
	font-family: cursive;
	color:#3f3faf;
	border: none;
	background: linear-gradient(white, #ffefaf);
}

img{
	float: right;
}
